*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box{
    border: 2px solid red;
    margin: 10px;
    /*  padding: 40px; */
    flex-basis: 150px; 
    /* width: 100px; */
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#box1{

    flex-grow: 1    ;
    /* height: 100px; */
    order: 4;
}
#box2{
        /* flex-grow: 2; */
            /* height: 150px; */
    order: 1;


}
#box3{
        /* flex-shrink: 3; */
    /* height: 200px; */
    order: 0;

}
.container{
    display: flex;
    align-items:stretch;
    gap: 20px;
    height: 100vh;
    justify-content: space-between;
    border: 5px solid green;
    /* flex-direction:row; */
    flex-wrap: wrap;
}

.boxe{
    border: 2px dotted blue;
    margin: 10px;
    padding: 20px;
    /* width: 10%; */
    height: 100px;
    
}
#box4{
     display: flex;
    justify-content:center;
    align-items: end;
    align-self: end;
    width: 500px;
    order: 2;
}
#box5{

order:7

}
#box6{

    order: 6;
}
/* fouthPage starts from here */
.fourthPage{
    border: 4px solid black;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items: center;
    background-color: #1a7383;
    color: white;
}

#box7{
border: 1px solid red;
/* height: 10vh; */
font-size: xx-large;
font-weight: bolder;
/* display: flex;
align-items: flex-start; */
}
#box8{
    border: 5px solid red;
display: flex;
gap: 20px;
height: 45vh;
align-items: center;
}

#aboutText1{
    border: 2px solid blue;
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#box8 img{
    width: 250px;
    height: 250px;
    border-radius: 300px;
    border: 2px solid palevioletred;
}
#aboutText2{
   border: 2px solid red;
   height: 40vh;
   /* overflow-y: scroll; */
}

@media(max-width:430px){
.fourthPage{
   border: none;
   gap: 200px;
  /* display: flex;
  flex-direction: column; */
    overflow-y: scroll;
    /* margin-bottom: 5px; */
}
#box7, #box8 img, #aboutText2{
    border: none;
}


#box8{

display: flex;
flex-direction: column;
/* height: 75vh; */
border: none;
}

#aboutText1{
    /* border: none; */
    border: 2px solid red;
width: 100%;
height: 30vh;
/* overflow-y: scroll; */

}
#aboutText2{
overflow-y:scroll ;
height: 40vh;
border: 2px solid green;
}