*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

/* .....nav bar start here...... */


.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(47,46,46);
    position: fixed;
    box-shadow: 2px 2px 5px white;

}

.navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
   
}

.navbar nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.navbar nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: white;
    /* transform: scaleX(0); */
    /* transform-origin: right; */
    transition: width .4s linear;
}

.navbar nav ul li a:hover:before{
/* transform: scaleX(1); */
/* transform-origin: left; */
width: 100%;
}


.navbar nav ul li a:hover{
    color: rgb(155, 155, 159);
}

.navbar nav ul li i{
    color: white;
    font-size: 20px;
}



    /*......... Here start section 1..... */

#firstpage{
    width: 100%;
    /* height: 100vh; */
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

}

#firstpage div{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
#firstpage i{
    margin-top: 300px;
    font-size: 35px;
    color: white;
   
    
}
#firstpage img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

/* .comment{
    position: fixed;
   
    color: white;
    bottom: 50px;
    right: 50px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
    
} */



    /* ......Here Secondpage start ...... */


#secondpage{
    width: 100%;
    height: 100vh;
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    align-items: center;

}
  
  #secondpage .second_1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items:center;
    flex-direction: column;
    margin-top: 250px;

  }

   #secondpage .second_1 div img{
    width: 200px;
    height: 200px;
   }

   #secondpage .second_1 div h3{
    width: 100px;
    height: 40px;
    color: white;

   }

    #secondpage .second_1 div p{
        font-size: 20px;
    }



#secondpage .second_1 p{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#secondpage .second_1 .second_2{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
#secondpage .second_1 .second_2 div{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#secondpage .second_1 .second_2 .paint img{
    width: 160px;
    height: 160px;
    /* padding-bottom: 10px; */
    /* padding-top: 15px; */
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
 
#secondpage .second_1 .second_2 p{
    text-align: center;
    margin-bottom: 10px;
}







/* .....third page start here...... */


#thirdpage{
    width: 100%;
    
}


#thirdpage .third_1{
    display:flex;
    width: 100%;
    /* height: 250px; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
     
   
}

#thirdpage .third_1 div :hover{
      box-shadow: 3px 3px 10px rgb(0, 0, 0);
     /* transform: rotate(135deg);
     transition: transfrom 2s ease 0s; */
     cursor: pointer;

     
}


#thirdpage .third_0{
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-items: centre;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;  
    margin-bottom: 50px; 
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

#thirdpage .third_0 h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}






/* ....... Here is the forth page ...... */

#forthpage{
    width: 100%;
    /* height: 100vh; */
    background-image: url(bg4.jpg);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 150px;
    
}

#forthpage div{
    width:40%;
    height:60%;
    background-color:white;
    
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 125px;
    padding-top: 80px;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    padding-bottom: 80px;
}

#forthpage div p{
     margin-right: 20px;
    margin-left: 20px;
   

}

#forthpage div h3{
    font-size: 30px;
}

#forthpage div h2{
    margin-top: -10px;
}

/* ...... fifth page start here ...... */
    
#fifthpage{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(bg5.jpg);


}

    /* .....six page here ....... */

#sixthpage{

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-image: url(bg4.jpg);
    padding-bottom: 200px;

}

#sixthpage .img_1 img{
    margin-top: 100px;

}
#sixthpage .img_1 img:hover{
   
     transform: perspective(50px) rotatex(2deg) translateY(25px);
   
    
}

#sixthpage .sixth_1{
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
   padding-top: 50px;
   padding-bottom: 30px;
}

#sixthpage .sixth_1 .sixth_2{
    width: 300px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 0px;
   
}
#sixthpage .sixth_1 .sixth_2 div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: -90px;
    
}

#sixthpage .sixth_1 .sixth_2 form{
   width: 80px;
   margin-left: -10px;
   margin-top: 50px;
   margin-bottom: 40px;
   
   
}


#sixthpage .sixth_1 .sixth_2 form input{
    width: 200px;
    height: 30px;
}

#sixthpage .sixth_1 .sixth_2 form textarea{
    width: 200px;
    height: 50px;
}
#sixthpage .sixth_1 .sixth_2 form button{
    width: 200px;
    height: 30px;
    background-color:rgb(47,46,46) ;
    color: white;
}

#sixthpage .sixth_1 h3{
    font-size: 30px;
}

/* #sixthpage .sixth_1 p{
     font-size: 20px;
} */



/* ...........footer start here......... */

#footer_1{
    width: 100%;
    height: 20vh;
    background-color: rgb(47,46,46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

.footerimg{
    font-size: 25px;
    margin-bottom: 20px;
}



.footer_p{
    display: flex;
}



   /* .................................... */

#check{
    display: none;
}

#menu_bar i{
    display: none;
    position: fixed;

   
}

   @media(max-width:430px){

    .navbar nav ul{
        display: none;
      
    
    }

    #menu_bar i{
    display: block;
    color: rgb(248, 248, 248);
    font-size: 25px;
    top: 10px;
    left: 15px;
    cursor: pointer;
    z-index: 999;

    }
 
    #check:checked~header .navbar nav ul{
      display: block;
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      height: 100vh;
      background-color: rgba(12, 12, 12, 0.812);
      text-align: center;
      line-height: 30px;
      z-index: 10;
        
    }


    #secondpage{
    width: 100%;
    /* height: 100vh; */

    display: flex;
    justify-items: center;
    align-items: center;

}
  
  #secondpage .second_1{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-items: center;
    align-items:center;
    flex-direction: column;
    margin-top: 250px;

  }
#secondpage .second_1 .second_2{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
  #secondpage .second_1 div img{
    width: 120px;
    height: 120px;
   }

   #secondpage .second_1 div h3{
    width: 80px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: small;

   }

    #secondpage .second_1 div p{
        font-size: 13px;
        /* gap: 5px; */
    }

#secondpage .second_1 .second_2 div{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 80px;
}

#secondpage .second_1 .second_2 .paint img{
    width: 95px;
    height: 95px;
    /* padding-bottom: 10px; */
    /* padding-top: 15px; */
    margin-top: 13px;
    margin-bottom: 10px;
    
    
}
 
#secondpage .second_1 .second_2 p{
    text-align: center;
    margin-bottom: 10px;
}


    #forthpage{
    width: 100%;
    /* height: 100vh; */
    /* background-image: url(bg4.jpg); */
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    
     }

    #forthpage div{
    width:80%;
    height:60%;
     gap: 20px;
    margin-top: 125px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

#sixthpage{

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 200px;

}

#sixthpage .sixth_1{
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
   padding-top: 50px;
   padding-bottom: 30px;
}

#sixthpage .sixth_1 .sixth_2{
    width: 150px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    /* margin: 0px; */
    margin-left: -100px;
    /* padding-right: 50px; */
   
}
#sixthpage .sixth_1 .sixth_2 div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0px;
    padding-right: 25px;
    /* font-size: 10px; */
    
}

#sixthpage .sixth_1 .sixth_2 form{
   width: 50px;
   margin-left: 0px;
   margin-top: 50px;
   margin-bottom: 40px;
   
   
}

#sixthpage .sixth_1 .sixth_2 form input{
    width: 150px;
    height: 30px;
}

#sixthpage .sixth_1 .sixth_2 form textarea{
    width: 150px;
    height: 50px;
}
#sixthpage .sixth_1 .sixth_2 form button{
    width: 150px;
    height: 30px;
    background-color:rgb(47,46,46) ;
    color: white;
}


}